[submodule "utilities/auto-save-buffers-enhanced"]
	path = utilities/auto-save-buffers-enhanced
	url = https://github.com/kentaro/auto-save-buffers-enhanced.git
[submodule "utilities/yasnippets-rspec"]
	path = utilities/yasnippets-rspec
	url = git@github.com:tumf/yasnippets-rspec.git
[submodule "modes/chef-mode"]
	path = modes/chef-mode
	url = git@github.com:tumf/chef-mode.git
[submodule "modes/php-htm-mode"]
	path = modes/php-htm-mode
	url = git://github.com/traceypooh/php-htm-mode.git
[submodule "modes/rspec-mode"]
	path = modes/rspec-mode
	url = git@github.com:tumf/rspec-mode.git
[submodule "snippets/rails"]
	path = snippets/rails
	url = https://github.com/eschulte/yasnippets-rails.git
